@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap")

* {
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 100%;
  height: 600px;
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}
.header-text {
  width: 100%;
  height: 600px;
  color: white;
  font-size: 72px;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 50px;
  font-weight: 700;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0.5%,
    rgba(0, 0, 0, 0)
  );
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.header-text > p {
  font-family: "Merriweather", serif;
}

.happy-new-year {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
.main-container {
  width: 100%;
  height: 107px;
  max-width: 383px;
  margin: 0 auto;
  margin-top: 50px;
}
.offer-text > p {
  text-align: center;
  font-family: "Inter", sans-serif;
}
.offer {
  width: 383px;
  height: 107px;
  color: red;
  font-weight: 700;
  font-size: 88px;
}
.deals {
  width: 397px;
  height: 29px;
  color: #ff0000;
  font-size: 20px;
  margin-top: 20px;
}
.categories {
  width: 410px;
  height: 58px;
  font-size: 40px;
  color: #070211;
  font-weight: 600;
}
.main-container img {
  width: 800px;
  height: 500px;
  margin: auto;
  position: absolute;
  right: 30%;
}
.container {
  width: 100%;
  max-width: 1320px;
  height: 600px;
  margin: 0 auto;
}
.img-container {
  margin-top: 800px;
  height: auto;
  position: relative;
}
.left-text {
  position: relative;
  top: 378px;
  left: 126px;
  font-size: 64px;
  font-weight: 600;
  font-family: "Merriweather", serif;
  color: white;
  line-height: 50px;
}
.container {
  position: absolute;
  top: 0%;
  left: 10%;
  right: 10%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0.5%,
    rgba(0, 0, 0, 0)
  );
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.left-text-paragraph {
  position: relative;
  top: 378px;
  left: 126px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 5px;
  font-weight: 200;
}
.btn {
  color: white;
  background: none;
  border: none;
  width: 103px;
  height: 24px;
}
.small-img {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-30%, 120%);
}
.date-container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  height: 480px;
  margin: 0 auto;
  top: 1120px;
  background-color: #7e797921;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.151), white);
  border-radius: 16px;
}
.invitation {
  margin: 100px 385px;
}
.invitation > p {
  font-size: 32px;
  color: #070211;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 15px;
  transform: translate(0, 100px);
}
span {
  color: #ff0000;
}
.btn-primary {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #ff0000;
  transform: translate(112%, 250%);
  border: none;
}
.three-div-section {
  width: 100%;
  max-width: 1320px;
  height: 463px;
  display: flex;
  gap: 70px;
  position: relative;
  transform: translate(60%, 300%);
}
.best-offer-div{
  width: 330px;
  height: 100%;
  transform: translate(-150%, 0%);
}
.best-offer-div > h5 {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.best-offer-div > h1{
  color: #070211;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 48px;
}
.best-offer-div > p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #07021183;
}
.circle-img-div{
  width: 330px;
  height: 100%;
  transform: translate(-125%, 0%);

}
.circle-img-div img{
  padding: 25px;
  width: 350px;
  height: 350px;
  border: 10px solid #ff0000;
  border-radius: 50%;
}
.text-div{
  font-family: "Inter", sans-serif;
  width: 330px;
  height: 100%;
  transform: translate(-80%, 0%);
}
.text-div > h1{
  color: #ff0000;
  font-size: 48px;
  font-weight: 700;
}
.text-div > p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #07021183;
  line-height: 10px;
}
.sales-section-div{
  width: 100%;
  max-width: 1070px;
  height: 260px;
  position: relative;
  transform: translate(80%, 550%);
}
.sales-offers-section > p{
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #070211;
}
.sales-offers-section > h1{
  margin-top: 0px;
  position: absolute;
  font-family: "Merriweather", serif;
  font-size: 72px;
  transform: translate(-30%, 0);
}
.best-offer-deal{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  max-width: 1370px;
  height: 30px;
  transform: translate(-36%, 350%);
}
.three-img-section{
  width: 100%;
  max-width: 1320px;
  height: 990px;
  position: relative;
  transform: translate(25%, 120%);
}
.first-img-div img{
  width: 60%;
  max-width: 400px;
  height: 300px;
  position: relative;
  z-index: 50;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.342));
  transform: translate(20%, 156%);
}
.three-img-section img{
  width: 100%;
  height: 15%;
}
.third-img-div img{
  width: 380px;
  height: 400px;
  transform: translate(247.2%,1%);
}
.off-sale img{
  width: 220.05px;
  height: 220.05px;
  transform: translate(380%, -140%);
}
.red-rectangle-img-div> img{
  width: 1320px;
  height: 120px;
  transform: translate(0, -188%);
}
.cart-section{
  width: 100%;
  max-width: 1320px;
  height: 1164px;
  transform: translate(25%, 100%);
}
.best-gifts > p{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #ff0000;
}
.best-gifts > h1{
  font-size: 48px;
  font-weight: 700;
  font-family: "Merriweather", serif;
  color: #070211;
}
.review-section-div{
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #070211a6;
}
.first-row-cart-imag-section{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.second-row-cart-imag-section{
  display: flex;
  justify-content: space-between;
}
.newsletter-section{
  width: 100%;
  max-width: 1320px;
  height: 620px;
  background-color: #f892922c;
  text-align: center;
  transform: translate(25%, 200%);
  border-radius: 16px;
}
.email-logo-div > img{
  width: 150px;
  height: 150px;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}
.newsletter-text> h1{
  font-family: "Merriweather", serif;
  font-size: 48px;
  color: #070211;
}
.newsletter-text> p{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: #070211a4;
}
.input-section{
  width: 100%;
  max-width: 672px;
  height: 72px;
  align-items: center;
  text-align: center;
  transform: translate(50%, 0);
}
label{
  position: relative;
}
.btn-subscribe{
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #ff0000;
  color: white;
  position: absolute;
  right: 0;
  top: 5;
  bottom: 5;
  
}
input{
  border-radius: 20px;
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 50px;
}
footer{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  color: white;
  background-color: #070211;
  width: 100%;
  height: 610px;
  transform: translate(0%, 220%);
}
.left-side-text-div{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 60px;
  margin-top: 0;
  margin-left: 340px;
 
}
.right-side-text-div{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 60px;
  gap: 10;
  margin-left: 1400px;
  align-items: center;
}
.phone-icon-img>p::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/Call.png") no-repeat;
  background-size: contain;
  float: left;
  margin-right: 5px;
}
.wb-icon-img>p::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/images/Website.png") no-repeat;
  background-size: contain;
  float: left;
  margin-right: 5px;
}
.social-icon-div{
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 330px;
  width: 70px;
  margin-left: 880px;
  margin-top: 120px;
}
.social-icon-div> img{
  margin-left: 10px;
  width: 50px;
  height: 50px;
}
.bottom-line{
  position: absolute;
  margin-top: 240px;
  margin-left: 90px;
}
.botto-text-div{
  font-family: "Inter", sans-serif;
  font-size: 15px;
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 380px;
  margin-left: 90px;
}
.unsubcribe-div{
  margin-left: 1450px;
}

